################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Questions.csv
/AudienceLeaderboard.csv
