################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Questions.csv
/AudienceLeaderboard.csv
/.vs/slnx.sqlite
/.vs/TwinMillionaireApp/FileContentIndex/57e2e146-197e-4928-a751-f7de5f7c319f.vsidx
