:root {
    --twinGold: #cfac48;
    --twinYellow: #d0ba05;
    --twinTeal: #00e7ff;
    --twinRed: #9b0009;
    --twinGreen: #00FF00;
    --twinLifeline1: #d9fdfd;
    --twinLifeline2: #c4f0ff;
    --twinLifeline3: #5681ff;
    --twinLifeline4: #3048ff;
    --twinFont: "Bebas-Regular";
    --flipDuration: 1000ms;
}

@font-face {
    font-family: "Bebas-Regular";
    src: url(./fonts/FontsFree-Net-Bebas-Regular.ttf ) format("truetype");
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.no-padding-left {
    padding-left: 0px !important;
}

.no-padding-right {
    padding-right: 0px !important;
}

.no-padding {
    padding: 0 0 0 0 !important;
}

.question-section {
    position: absolute;
    top: 310px;
    left: 190px;
}

.question {
    position: absolute;
    border: 5px solid black;
    border-radius: 25px;
    width: 1125px;
    height: 150px;
    font-family: var(--twinFont);
}

.question-text {
    position: absolute;
    left: 12px;
    top: 12px;   
}

.question-flip {
    animation: flipSegment 1000ms;
    animation-iteration-count: 1;
    animation-play-state: running;
}

.question-back {
    background-color: var(--twinTeal);
}

.question-front {
    background-color: var(--twinGold);
}

.answers-section {
    position: absolute;
    top: 500px;
    left: 200px;
}

.answer {
    position: absolute;
    border: 5px solid black;
    width: 450px;
    height: 75px;
    font-family: var(--twinFont);
    transition: background-color var(--flipDuration);
}

.answer-back {
    background-color: var(--twinTeal);
}

.answer-left {
    left: 0px;
    border-radius: 25px 0px 0px 25px;
}

.answer-right {
    left: 680px;
    border-radius: 0px 25px 25px 0px;
}

.answer-top {
    top: 0px;
}

.answer-bottom {
    top: 100px;
}

.answer-text {
    position: absolute;
    top: 7px;
    left: 90px;
}

.answer-choice {
    position: absolute;
    top: 7px;
    left: 10px;
    width: 45px;
    height: 50px;
}

.answer-status-actual {
    background-color: var(--twinTeal);
}

.answer-status-actual-blink {
    animation: blink 250ms;
    animation-iteration-count: 6;
    animation-play-state: running;
}

.answer-status-correct {
    background-color: var(--twinGreen);
}

.answer-status-incorrect {
    background-color: var(--twinRed);
}

.answer-status-normal {
    background-color: var(--twinGold);
}

.answer-flip {
    animation: flipSegment 1000ms;
    animation-iteration-count: 1;
    animation-play-state: running;
}

.answer-text-a {
    position: absolute;
    left: 300px;
    top: 515px;
    background-color: transparent;
}

.answer-text-b {
    position: absolute;
    left: 970px;
    top: 515px;
    background-color: transparent;
}

.answer-text-c {
    position: absolute;
    left: 300px;
    top: 615px;
    background-color: transparent;
}

.answer-text-d {
    position: absolute;
    left: 970px;
    top: 615px;
    background-color: transparent;
}

.answer-card-a {
    position: absolute;
    left: 200px;
    top: 500px;
}

.answer-card-b {
    position: absolute;
    left: 870px;
    top: 500px;
}

.answer-card-c {
    position: absolute;
    left: 200px;
    top: 600px;
}

.answer-card-d {
    position: absolute;
    left: 870px;
    top: 600px;
}

.answer-choice-a {
    position: absolute;
    left: 230px;
    top: 515px;
    background-color: transparent;
}

.answer-choice-b {
    position: absolute;
    left: 902px;
    top: 515px;
    background-color: transparent;
}

.answer-choice-c {
    position: absolute;
    left: 230px;
    top: 615px;
    background-color: transparent;
}

.answer-choice-d {
    position: absolute;
    left: 902px;
    top: 615px;
    background-color: transparent;
}

.answer-front {
    background-color: var(--twinGold);
}

@keyframes blink {
    0% {
        background-color: var(--twinTeal);
    }

    50% {
        background-color: var(--twinGold);
    }

    100% {
        background-color: var(--twinTeal);
    }
}

.clock {
    border-radius: 125px;
    position: absolute;
    border: 5px solid black;
    left: 687px;
    top: 514px;
}

body {
    background-color: navy;
}

.progress-segments {
    position: absolute;
    left: 1400px;
    top: 75px;
}

.progress-segment {
    border: 5px solid black;
    border-radius: 25px;
    text-align: center;
    width: 500px;
    font-family: var(--twinFont);
}

.progress-segment-text {
    font-size: 24px;
}

.progress-status-inactive {
    background-color: var(--twinGold);
}

.progress-status-current {
    background-color: var(--twinTeal);
}

.progress-status-current-animate {
    animation: blink 2s;
    animation-iteration-count: infinite;
}

.progress-status-pass {
    background-color: var(--twinGreen);
}

.progress-status-fail {
    background-color: var(--twinRed);
}

.progress-segment-flip {
    animation: flipSegment var(--flipDuration);
    animation-iteration-count: 1;
    animation-play-state: running;
}

@keyframes flipSegment {
    0% {
        transform: rotateX(0deg);
    }

    50% {
        transform: rotateX(90deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}

.pointer {
    cursor: pointer;
}

.twin-progress-bar {
    height: 57px;
    width: 714px;
}

.twin-progress-bar-text-left {
    position: absolute;
    top: 8px;
    left: 7px;
    font-family: var(--twinFont);
}

.twin-progress-bar-text-right {
    position: absolute;
    top: 8px;
    left: 649px;
    font-family: var(--twinFont);
}

.twin-progress-bar-section {
    position: absolute;
    top: 700px;
    left: 200px;
    width: 1130px;
}

.logo {
    position: absolute;
    top: 526px;
    left: 702px;
    width:125px;
    z-index: 2;
    transition: opacity 500ms;
}

.logo-disappear {    
    opacity: 0;
}

.logo-appear {    
    opacity: 1;
}

@keyframes disappear {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.doot {
    border: none;
    height: 57px;
    width: 714px;
}

.correct {
    background-color: var(--twinGreen);
}

progress {
    color: lightblue;
}

    progress::-moz-progress-bar {
        background: var(--twinTeal);
        transition: width 500ms;
    }

    progress::-webkit-progress-value {
        background: var(--twinTeal);
        transition: width 500ms;
    }

    progress::-webkit-progress-bar {
        background: white;
    }