:root {
    --twinGold: #cfac48;
    --twinTeal: #00e7ff;
    --twinRed: #9b0009;
    --twinGreen: #00FF00;
    --twinLifeline1: #d9fdfd;
    --twinLifeline2: #c4f0ff;
    --twinLifeline3: #5681ff;
    --twinLifeline4: #3048ff;
    --twinFont: "Bebas-Regular";
}

@font-face {
    font-family: "Bebas-Regular";
    src: url(./fonts/FontsFree-Net-Bebas-Regular.ttf ) format("truetype");
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.no-padding-left {
    padding-left: 0px !important;
}

.no-padding-right {
    padding-right: 0px !important;
}

.no-padding {
    padding: 0 0 0 0 !important;
}

.question-card {
    position: absolute;
    left: 200px;
    top: 320px;
    border: 3px solid #d3d3d3;
    border-radius: 25px
}

.question-text {
    position: absolute;
    left: 220px;
    top: 340px;
}

.question-back {
    background-color: var(--twinTeal);
}

.question-front {
    background-color: var(--twinGold);
}

.answer-back{
    background-color: var(--twinTeal);
}

.answer {
    position: absolute;
    border: 3px solid #d3d3d3;   
}

.answer-left {
    border-radius: 25px 0px 0px 25px;   
}

.answer-right {
    border-radius: 0px 25px 25px 0px;    
}

.answer-text-a {
    position: absolute;
    left: 300px;
    top: 515px;
    background-color: transparent;
}

.answer-text-b {
    position: absolute;
    left: 970px;
    top: 515px;
    background-color: transparent;
}

.answer-text-c {
    position: absolute;
    left: 300px;
    top: 615px;
    background-color: transparent;
}

.answer-text-d {
    position: absolute;
    left: 970px;
    top: 615px;
    background-color: transparent;
}

.answer-card-a {
    position: absolute;
    left: 200px;
    top: 500px;
}

.answer-card-b {
    position: absolute;
    left: 870px;
    top: 500px;
}

.answer-card-c {
    position: absolute;
    left: 200px;
    top: 600px;
}

.answer-card-d {
    position: absolute;
    left: 870px;
    top: 600px;
}

.answer-choice-a {
    position: absolute;
    left: 230px;
    top: 515px;
    background-color: transparent;
}

.answer-choice-b {
    position: absolute;
    left: 902px;
    top: 515px;
    background-color: transparent;
}

.answer-choice-c {
    position: absolute;
    left: 230px;
    top: 615px;
    background-color: transparent;
}

.answer-choice-d {
    position: absolute;
    left: 902px;
    top: 615px;
    background-color: transparent;
}

.answer-front {
    background-color: var(--twinGold);    
}

@keyframes blink {
    0% {
        background-color: var(--twinTeal);
    }

    50% {
        background-color: var(--twinGold);
    }

    100% {
        background-color: var(--twinTeal);
    }
}

.clock {
    border-radius: 125px;
    position: absolute;
    border: 3px solid #d3d3d3;
    left: 687px;
    top: 514px;
}

body{
    background-color:navy;
}